{{$context := .context }}
{{$global := .global }}
{{with $context}}
<section id="section-{{$context.title | urlize }}">
    <div class="relative flex flex-col items-center justify-center w-full
    {{- if eq .styling.full false }} container mx-auto {{ end -}}
    {{- if eq .styling.center true }} text-center {{ end -}}
    {{- if eq .styling.card true}} md:card px-5 {{else}} px-5 py-10 md:py-20 {{ end -}}
    {{- if .styling.background }} bg-cover bg-center {{ end -}}
    {{- if .styling.backgroundColor }} {{ .styling.backgroundColor }} {{end -}}
    {{- if .styling.textColor }} {{ .styling.textColor }} {{- else }} text-white {{ end -}}
    {{- if .styling.height }} min-h-{{.styling.height}}{{- else }}min-h-screen/2{{ end -}}
    {{- if .styling.classes }} {{.styling.classes}}{{ end -}}
    "

         {{if .styling.background}} style="background-image: url('{{.styling.background}}?nf_resize=smartcrop&w=1920&h=720')" {{end}}
    >
        {{if .styling.background}}
        <div class="absolute w-full h-full bg-neutral bg-opacity-60"></div>
        {{end}}

        <div class="flex flex-col w-full lg:flex-row text-neutral-content px-5 md:px-10 py-12">
            <div class="w-full lg:w-5/12">
                {{ partial "blocks/components/comp-intro" . }}
            </div>
            <div class="divider lg:divider-horizontal" ></div>
            <div class="w-full lg:w-7/12">
                {{ partial "widgets/widget-contact-form" . }}
            </div>
        </div>

    </div>
</section>
{{end}}