.imageScale {
  max-width: unset;
  object-fit: cover;
  width: 100%;
}

.ratio-container {
  position: relative;
}
.ratio-container:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
  padding-bottom: 42.86%;
}
.ratio-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.ratio-box {
  position: relative;
  height: 0;
  display: block;
  width: 100%;
  /* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*
<div class="ratio-box" style="padding-bottom: 42.85%  calc(75 / 175 * 100%)">
*/