.menu{
  li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.access-button{
  display: flex !important;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).\!active), .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  @apply bg-transparent text-secondary  #{!important};
}